# the bare requirements for running tests

# pyftpdlib is needed to spawn a FTP server for the
# FTPFS test suite
pyftpdlib ~=2.0.1

# these are optional dependencies for pyftpdlib that
# are not explicitly listed, we need to install these
# ourselves
psutil ~=7.0.0
# parametrized to prevent code duplication in tests.
parameterized ~=0.8
